torch==2.1
transformers==4.37.2
ctransformers
gradio
fastapi
python-dotenv
langchain
chromadb
pypdf2
sentence-transformers
tiktoken
tqdm
together
langchain-together
langchain-community
langchain-google-genai
logging
faiss-cpu
streamlit
utils